<% if @wiki.destroyed? %>
   $('#wiki-' +<%= @wiki.id %>).fadeOut("slow");
 <% else %>
   $('#wiki-' +<%= @wiki.id %>).prepend("<div class='alert alert-danger'><%= flash[:error] %></div>");
 <% end %>