<div class="media-body">
  <p class="lead"> <%= markdown @wiki.title %></p>
  <h1><%= markdown @wiki.body%></h1>
  <% if @user.present? && @wiki.user == @user %>
<%= link_to "Edit Wiki", edit_wiki_path(@wiki), class: 'btn btn-success' %>
<%= link_to "Delete Wiki", @wiki, class: 'btn btn-success', method: :delete, data: { confirm: 'Are you sure you want to delete this wiki?' } %>
  <%end%>
</div>

